@page "/"

<h1 class="title">List of Cramstrs</h1>
<Button @onclick="GetQuestionSets">Get all question sets</Button>

<CardDeck>

    @foreach (var flashCardSet in _flashCardSets)
    {
        <FlashCardSetPreview flashCardSet="@flashCardSet"/>
    }
</CardDeck>

<a href="/New">Create a new Cramstr</a>

@code {
    private List<FlashCardSet> _flashCardSets = new();

    private async Task GetQuestionSets()
    {
    // TODO: Add error handling
        _flashCardSets = await Http.GetFromJsonAsync<List<FlashCardSet>>("/api/FlashCardSets") ?? new List<FlashCardSet>();
    }

}